body {
    color: white;
    background-image: url(images/fuji.jpg);
    background-color: rgb(116, 116, 116);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}